<% provide(:title,"About") %> 

	<div class="page-header">
        <h1>About Me</h1>
    </div>
    
    <body>
        <%= image_tag("me.jpg", :alt => "rss feed") %>
        <p> I have extensive experience using diverse data analysis techniques to decipher meaningful metrics from datasets. I enjoy a mixture of implementing pre-defined and ad hoc analysis, using R (statistical and visual) and Python (wrangling, cleaning and storing) languages and packages in a test-driven development methodology. I am very comfortable operating in a Unix environment and writing custom scripts in Bash, R and Python. I have previously used these skills at Western University as a Masters student where I used applied mathematics to characterize a genetic dataset for insights. I have extensive experience with text parsing via next-generation sequencing experiments, distribution modelling using Bayesian frameworks and even some experience with machine learning classification. I'm passionate about making sense of large data sets, communicating results in cohesive documents and visualizations with the ultimate goal of helping direct future decisions.</p>
	</body>
