<% provide(:title,"Contact") %> 
	<div class="page-header">
        <h1>Contact Information</h1>
	</div>
	
	<body>
	    <p class="lead">Email: mlafore05@gmail.com <br> Phone: 226-973-2330</p>
	</body>