<% provide(:title,"Gallery") %> 
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="A gallery of my work="">
    <meta name="Marc_Laforet" content="Gallery">
    <link rel="icon" href="favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script><style type="text/css"></style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
 
 	<body>

   

      <div class="jumbotron">
        <h1>Analytical Decision Making - R&D</h1>
        <p class="lead">Here is a selection of sample visualizations I coded from raw data. Examples include summarized results from 23 GB of data and advanced statistical analysis such as dimensionality reduction procedures.</p>
        <p><a class="btn btn-lg btn-success" href="http://rpubs.com/mlafore3/180479" role="button">View</a></p>
      </div>
      
      <div class="jumbotron">
        <h1>Machine Learning Classification</h1>
        <p class="lead">Optimized K-nearest neighbours in a machine learning classification model. Completed using python.</p>
        <p><a class="btn btn-lg btn-success" href="https://gist.github.com/mlafore3/43389c9b7d35cfa0318c8fe0127cc19f" role="button">View</a></p>
      </div>
      
      <div class="jumbotron">
        <h1>Interactive Visualization</h1>
        <p class="lead">Here, I developed a Shiny app to interactively visualize the power of the students t-test. The user can control parameters of the two distributions being compared such as sample sizes, distribution means, etc.</p>
        <p><a class="btn btn-lg btn-success" href="https://marcon-laforet.shinyapps.io/P-value_Distribution_T-test/" role="button">View</a></p>
      </div>
      
      
       <div class="jumbotron">
        <h1>I coded this website ! </h1>
        <p class="lead">I used a Ruby on Rails framework along with Javascript libraries, HTML5 and CSS with Sass. Distributed using Heroku and Git controlled. </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">View</a></p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  

	</body>
</html>