<% provide(:title,"Resume") %> 
<div class="page-header">
        <h1>Resume</h1>
        <%= link_to "Download", "public/MarcLaforetResume.pdf", :class => "themed_text" %>
	</div>

<body lang=EN-CA link=blue vlink=purple style='tab-interval:36.0pt'>

<div class=WordSection1>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:20.0pt;font-family:"Times New Roman";color:windowtext'>Marc
Laforet<o:p></o:p></span></b></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'>155 Eaton Street, Georgetown, Ontario, L7G 5V6 |
226-973-2330 | </span><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";mso-bidi-font-weight:bold'>mlafore05@gmail.com<o:p></o:p></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
lang=EN-US style='font-size:11.5pt;font-family:"Times New Roman";color:windowtext'><o:p>&nbsp;</o:p></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>EDUCATION
<o:p></o:p></span></b></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>Masters
of Science </span></b><i style='mso-bidi-font-style:normal'><span lang=EN-US
style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'>&#8211; Biochemistry with bioinformatics component</span></i><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'> &#8211; <b>2014 </b><i style='mso-bidi-font-style:
normal'>&#8211; </i><b>June 2016</b><i style='mso-bidi-font-style:normal'><o:p></o:p></i></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Western
University, London, Ontario <o:p></o:p></span></i></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext'>My thesis focused on predicting DNA-protein interactions based on an interaction dataset that I collected and performed statistical analysis on.  
<o:p></o:p></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Wrote
custom scripts to mine NCBI databases and synthesize custom datasets of
interest. </span><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
color:windowtext'><o:p></o:p></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Calculated
Mutual Information (MI) between <span class=SpellE>dataframe</span> columns and
identified significant outliers using a Z-score procedure. </span><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'><o:p></o:p></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Determined
analysis sensitivity (false positives) by implementing custom scripts to analyze
23 GB of randomly generated sequence data.</span><span lang=EN-US
style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'><o:p></o:p></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Used
molecular biology techniques to validate statistically significant results.</span><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'><o:p></o:p></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext'><span style='mso-list:
Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext'>Analyzed Next-Generation
Sequencing (NGS) data (~ 6 GB).<o:p></o:p></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>Bachelor
of Science </span></b><i style='mso-bidi-font-style:normal'><span lang=EN-US
style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'>&#8211;</span></i><b><span lang=EN-US
style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'> </span></b><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Honors
Specialization in Biochemistry and Cell Biology</span></i><b><span lang=EN-US
style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'> </span></b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'>&#8211; <b>2010 &#8211; 2014</b><i style='mso-bidi-font-style:
normal'><o:p></o:p></i></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Western
University, London, Ontario </span></i><b><span lang=EN-US style='font-size:
11.0pt;font-family:"Times New Roman";color:windowtext'><o:p></o:p></span></b></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l5 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Gold
Medal Recipient (highest GPA from graduating class)<b><o:p></o:p></b></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
mso-bidi-font-weight:bold'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>CODING
SKILLS<span class=MsoHyperlink><span style='color:windowtext;text-decoration:
none;text-underline:none'><o:p></o:p></span></span></span></b></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><b><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";color:windowtext;text-decoration:none;text-underline:none'>Languages
</span></b></span><span class=MsoHyperlink><span lang=EN-US style='font-size:
11.0pt;font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:
bold;text-decoration:none;text-underline:none'>(order of proficiency)<b>: </b>R,
Python, Bash, Perl, SQL, <span class=SpellE>Git</span>, HTML5, CSS and Ruby<o:p></o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><b><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";color:windowtext;text-decoration:none;text-underline:none'>Frameworks
and Libraries: </span></b></span><span class=SpellE><span class=MsoHyperlink><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold;text-decoration:none;text-underline:none'>dplyr</span></span></span><span
class=MsoHyperlink><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
color:windowtext;mso-bidi-font-weight:bold;text-decoration:none;text-underline:
none'>, ggplot2, Pandas, <span class=SpellE>scikit</span>-learn, <span
class=SpellE>Heroku</span> and <span class=SpellE>Bokeh</span><o:p></o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
color:windowtext;mso-bidi-font-weight:bold;text-decoration:none;text-underline:
none'><o:p>&nbsp;</o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>PERSONAL
PROJECTS <span class=MsoHyperlink><span style='color:windowtext;text-decoration:
none;text-underline:none'><o:p></o:p></span></span></span></b></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><b><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";color:windowtext;text-decoration:none;text-underline:none'>T-test
visualization </span></b></span><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>&#8211;
<span class=MsoHyperlink><b><span style='color:windowtext;text-decoration:none;
text-underline:none'>2015<o:p></o:p></span></b></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:36.0pt;text-align:justify;text-justify:inter-ideograph;text-indent:
-18.0pt;mso-list:l4 level1 lfo6'><![if !supportLists]><span class=MsoHyperlink><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold;
text-decoration:none;text-underline:none'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span><![endif]><span
class=MsoHyperlink><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
color:windowtext;mso-bidi-font-weight:bold;text-decoration:none;text-underline:
none'>A real-time visualization that updates the p-value of the students T-test
given sample means and standard deviations determined by the user (Shiny and <span
class=SpellE>dplyr</span> &#8211; R).<o:p></o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><span
class=MsoHyperlink><b><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";color:windowtext;text-decoration:none;text-underline:none'>Machine
learning classification </span></b></span><span lang=EN-US style='font-size:
11.0pt;font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:
bold'>&#8211; <span class=MsoHyperlink><b><span style='color:windowtext;
text-decoration:none;text-underline:none'>2015<o:p></o:p></span></b></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:36.0pt;text-align:justify;text-justify:inter-ideograph;text-indent:
-18.0pt;mso-list:l2 level1 lfo5'><![if !supportLists]><span class=MsoHyperlink><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold;
text-decoration:none;text-underline:none'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span><![endif]><span
class=MsoHyperlink><span lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";
color:windowtext;mso-bidi-font-weight:bold;text-decoration:none;text-underline:
none'>Implemented and optimized a K-nearest neighbors classification model with
cross-validation to predict survival (<span class=SpellE>scikit</span>-learn
and Pandas &#8211; Python).<o:p></o:p></span></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:36.0pt;text-align:justify;text-justify:inter-ideograph'><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext;
mso-no-proof:yes'>SOFT</span></b><b><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext'> SKILLS<o:p></o:p></span></b></p>

<p class=Default style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;
margin-left:0cm;text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-size:11.0pt;font-family:"Times New Roman";color:windowtext'>Teaching
Assistant (TA)</span></b><span lang=EN-US style='font-size:11.0pt;font-family:
"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'> &#8211; <b>Fall/Winter
2015 </b><i style='mso-bidi-font-style:normal'>&#8211;</i><b> 2016<o:p></o:p></b></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Western
University, London, Ontario <o:p></o:p></span></i></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l6 level1 lfo4'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Biochemical
regulation (Fall) and Laboratory (Winter) &#8211; 3<sup>rd</sup> year
Biochemistry <o:p></o:p></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><b
style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext'>Campus Program Coordinator
&#8211; Leave the Pack Behind </span></b><span lang=EN-US style='font-size:
11.0pt;font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:
bold'>&#8211; <b>Fall/Winter 2013 </b><i style='mso-bidi-font-style:normal'>&#8211;</i><b>
2014<o:p></o:p></b></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Western
University, London, Ontario <o:p></o:p></span></i></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l6 level1 lfo4'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Managed
a team of 30 volunteers<i style='mso-bidi-font-style:normal'><o:p></o:p></i></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l6 level1 lfo4'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Coordinated
three campus wide smoking cessation campaigns<i style='mso-bidi-font-style:
normal'><o:p></o:p></i></span></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l6 level1 lfo4'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Liaison
between campus health services and head office personal<i style='mso-bidi-font-style:
normal'><o:p></o:p></i></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><b
style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext'>Varsity Athlete - <span
class=GramE>Water-polo</span> </span></b><span lang=EN-US style='font-size:
11.0pt;font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:
bold'>&#8211; <b>Fall/Winter 2011 </b><i style='mso-bidi-font-style:normal'>&#8211;</i><b>
2012<o:p></o:p></b></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Western
University, London, Ontario <o:p></o:p></span></i></p>

<p class=Default style='margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l3 level1 lfo7'><![if !supportLists]><span
lang=EN-US style='font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:windowtext;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'>Purple
color award &#8211; athlete that shows dedication to the team <i
style='mso-bidi-font-style:normal'><o:p></o:p></i></span></p>

<p class=Default style='text-align:justify;text-justify:inter-ideograph'><i
style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:11.0pt;
font-family:"Times New Roman";color:windowtext;mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></i></p>

</div>

</body>
